<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <!-- Ajusta servidor y base -->
    <add name="AlmacenDB"
         connectionString="Data Source=LAPTOP-JDL2C49G\\SQLEXPRESS;Initial Catalog=UNAC_FIIS;Integrated Security=True;TrustServerCertificate=True;User Id=Cristopher;Password=coracao666;" />
  </connectionStrings>
</configuration>